/*--------------CarDetails CSS---------------*/ 
// .price-top-area
// .price-top-area {
//     a {
//         color: #191c22;
//         font-size: 12px;
//         font-weight: 400;
//     }
//     .price-top-content {
//         border-bottom: 1px solid #D6D6D6;
//         padding: 25px 0 16px;
//     }
//     .left {
//         a {
//             position: relative;
//             transition: .3s;
//             padding: 5px 0 5px 15px;
//             &:hover {
//                 color: #E3A900;
//             }
//             i {
//                 position: absolute;
//                 left: 0;
//                 top: 0px;
//                 font-size: 24px;
//                 color: #e3a900;
//             }
//         }
//     }
//     .right {
//         a {
//             font-size: 16px;
//             padding: 2px 7px;
//             transition: .3s;
//             &:hover {
//                 color: #E3A900;
//             }
//             &:last-child {
//                 padding-right: 0;
//             }
//         }
//     }
// }

// .call-to-action-area
.footer-area.vdp-page.sticky-action {
    margin-bottom: 70px;
}
.call-to-action-area.sticky-action {
    @extend %w100;
    @extend %posfixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 8px 15px #000;
    z-index: 9;
    padding: 5px 0;
    h2{
        font-size: 26px;
    }
}
.call-to-action-area {
    background-color: #f8f2e0;
    padding: 15px 0;
    h2 {
        font-size: 30px;
        font-weight: 600;
        @extend %black-color;
        margin: 0px 0 5px;
        @include mx-desktops{
            font-size: 24px;
        }
    }
    .left {
        font-weight: 400;
        @include mx-desktops{
            font-size: 14px;
        }
    }
    .price-tag {
        @extend %displayblock;
        @extend %textright;
        margin-right: 15px;
        font-size: 13px;
        @include mx-desktops{
            margin-right: 5px;
        }
        strong {
            font-weight: 700;
            @extend %secondary-color;
            font-size: 20px;
            @include mx-desktops{
                font-size: 17px;
            }
        }
    }
    .call-to-action {
        .boxed-btn {
            padding: 7px 13px;
            font-size: 13px;
            margin-left: 5px;
            @include mx-desktops{
                padding: 7px 8px;
                margin-left: 3px;
                i{
                    margin-left: 0;
                }
            }
        }
    }
}


// .car-slider-area
.car-bg{
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    max-height: 800px;
    object-fit: contain;
    @include tablet{
        width: auto;
        height: calc(100vh - 235px);
    }
    @include desktops{
        width: auto;
        height: calc(100vh - 290px);
    }
    @include large-desktops{
        width: auto;
        height: calc(100vh - 311px);
    }
    @include large-desktops-mid{
        width: auto;
        height: calc(100vh - 311px);
    }
    @include extra-large-desktops{
        width: auto;
        height: calc(100vh - 311px);
    }
    @include mx-desktops{
        max-height: 500px;
    }
}
.car-slider-area .slide-img{
    max-height: 800px;
    object-fit: contain;
    height: auto;
    // @extend %w100;
    // @include tablet{
    //     width: auto;
    //     height: calc(100vh - 235px);
    // }
    // @include desktops{
    //     width: auto;
    //     height: calc(100vh - 290px);
    // }
    // @include large-desktops{
    //     width: auto;
    //     height: calc(100vh - 311px);
    // }
    // @include large-desktops-mid{
    //     width: auto;
    //     height: calc(100vh - 311px);
    // }
    // @include extra-large-desktops{
    //     width: auto;
    //     height: calc(100vh - 311px);
    // }
    // @include mx-desktops{
    //     max-height: 500px;
    // }
}
.car-slider-area {
    .slide-shape {
        @extend %posabsolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        @extend %textcenter;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        z-index: 3;
        padding-top: 6px;
        width: 480px;
        a {
            display: inline-block !important;
            @extend %white-color;
            @extend %uppercase;
            font-weight: 500;
            font-size: 14px;
            padding: 12px;
            @extend %basetransition1;
            &:hover{
                @extend %secondary-color;
            }
        }
    }
    .single-car-slide{
        a{
            @extend %displayblock;
        } 
        &:after {
            @extend %pseudo;
            left: 0;
            top: 0;
            @extend %w100;
            @extend %h100;
            @extend %black-bg-color;
            z-index: 1;
            opacity: .7;
        }
    }
    .owl-item.active {
        .single-car-slide{
            .slide-img{
                // object-fit: contain;
            }
            &:after{
                opacity: 0;
            }
        }
    }
    .owl-nav div {
        left: 0;
        border-radius: 0 5px 5px 0;
        &.owl-next{
            left: auto;
            right: 0;
            border-radius: 5px 0px 0px 5px;
        }
    }
}


// .submenu-area 
.submenu-area {
    @extend %white-bg-color;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    ul {
        @extend %displayflex;
        @extend %justifybetween;
        li {
            flex-basis: 33.3333%;
            @extend %textcenter;
            border-right: 1px solid #000000;
            &:last-child {
                border-right: 0;
            }
            a {
                @extend %primary-color;
                @extend %uppercase;
                font-weight: 700;
                font-size: 14px;
                padding: 16px 5px;
                img {
                    margin: -4px 6px 0px 0;
                }
            }
        }
    }
}
// .submenu-area
.sticky-wrapper.is-sticky {
    .submenu-area {
        margin-top: 90px;
        z-index: 9 !important;
        li a {
            padding: 12px;
        }
    }
}



// specification-area
.specification-area{
    padding: 50px 0 60px;
    .table-content-wrap {
        .section-title {
            margin-bottom: 45px;
            @include all-below-med{
                margin-bottom: 20px;
            }
        }
    }
}
// .single-table-item
.single-table-item {
    border: 1px solid #D6D6D6;
    margin-bottom: 29px;
    .table-header {
        border-bottom: 1px solid #D6D6D6;
        padding: 10px 18px;
        @extend %secondary-color;
        @extend %fontweight700;
        @extend %uppercase;
        font-size: 18px;
        @extend %white-bg-color;
        height: 60px;
        @include mx-desktops{
            padding: 8px 10px;
        }
        .head-icon {
            @extend %displayinline;
            border-right: 4px solid #000000;
            padding-right: 10px;
            margin-right: 10px;
            img{
                width: 40px;
            }
            &.spec{
                img{
                    width: 28px;
                }
            }
        }
    }
    .table-striped {
        tbody tr{
            &:nth-of-type(odd) {
                background-color: #fef4d5;
            }
            &:nth-of-type(even) {
                @extend %white-bg-color;
            }
        }
    }
    .table {
        margin: 0;
        tr {
            td {
                @extend %borderzero;
                font-size: 14px;
                @extend %uppercase;
                font-weight: 500;
                padding: 8px 18px;
                width: 55%;
                @include mx-desktops{
                    padding: 8px 10px;
                    width: 50%;
                }
                &:nth-child(1) {
                    @extend %black-color;
                }
                &:nth-child(2) {
                    @extend %primary-color;
                    width: 45%;
                    padding-left: 0;
                    @include mx-desktops{
                        width: 50%;
                    }
                }
            }
            &:nth-child(1) {
                td {
                    padding-top: 10px;
                }
            }
        }
    }
}

// .car-valuation-area
.car-valuation-area {
    padding: 0 0 60px;
    .section-title {
        h2 {
            margin-bottom: 20px;
        }
    }
    .section-shape {
        bottom: -140px;
        @include mx-desktops{
            bottom: -129px !important;
            img{
                height: 70px;
            }
        }
    }
    .car-valuation-content {
        @extend %black-bg-color;
        color: #a5a4a4;
        @extend %borderradius5;
        padding: 25px 70px;
        .single-valuation-item {
            flex-basis: 40%;
            padding-right: 15px;
            &:last-child {
                padding-right: 0;
            }
            label {
                @extend %white-color;
                font-size: 14px;
                font-weight: 500;
                margin: 0 0 7px;
                @extend %displayblock;
            }
            input[type=text] {
                @extend %w100;
                @extend %borderradius0;
                padding: 12px 15px;
                height: 45px;
                font-size: 12px;
                @extend %uppercase;
            }
            &.value-btn {
                flex-basis: 20%;
                .boxed-btn {
                    @extend %secondary-bg-color;
                    padding: 11px 10px;
                    @extend %w100;
                    @extend %secondary-border-color;
                    &:hover {
                        @extend %bgtransparent;
                        @extend %secondary-color;
                    }
                }
            }
        }
        .valuation-text {
            font-size: 14px;
            margin-top: 20px;
            a {
                @extend %secondary-color;
                font-weight: 500;
                @extend %basetransition1;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    .valuation-bottom-text {
        margin-top: 20px;
    }
    .section-shape {
        bottom: -140px;
    }
}


// .finance-area
.finance-area {
    @extend %black-bg-color;
    padding: 120px 0 60px;
    @extend %white-color;
    .section-title {
        @extend %posabsolute;
        left: 0;
        right: 0;
        top: -105px;
        z-index: 3;
        @include mx-desktops{
            top: -112px;
        }
    }
    // .single-finance-dropdown
    .single-finance-dropdown {
        flex-basis: 33.333%;
        padding-right: 15px;
        margin-bottom: 80px;
        &:last-child {
            padding-right: 0;
        }
        label {
            @extend %white-color;
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 7px;
        }
        .nice-select {
            font-size: 12px;
            height: 44px;
            line-height: 44px;
        }
    }
    // .finance-table
    .finance-table{
        margin-bottom: 50px;
        .single-table-item{
            border-color: #373B44;
            .table {
                tr {
                    background: #1E2128;
                    @extend %displayflex;
                    @extend %justifybetween;
                    &:nth-of-type(odd) {
                        @extend %primary-bg-color;
                    }
                    td {
                        @extend %white-color;
                        opacity: .7;
                        width: auto;
                    }
                }
            } 
        }
        // .finance-btns
        .finance-btns {
            padding-top: 50px;
            .boxed-btn {
                @extend %secondary-color;
                @extend %secondary-border-color;
                width: 32%;
                padding: 15px 10px;
                &:hover {
                    @extend %secondary-bg-color;
                    @extend %black-color;
                }
                @include mx-desktops{
                    padding: 15px 5px;
                    i{
                        margin-left: 2px;
                    }
                }
            }
        }
        // .right-content
        .right-content {
            font-size: 13px;
            h6 {
                @extend %uppercase;
                font-weight: 300;
                font-size: 13px;
                letter-spacing: 3px;
            }
            h5 {
                @extend %secondary-color;
                font-size: 14px;
            }
            .price-tag {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 25px;
                span {
                    @extend %displayblock;
                    font-size: 13px;
                    opacity: .7;
                    font-weight: 300;
                }
            }
            .boxed-btn {
                @extend %secondary-bg-color;
                @extend %borderradius50;
                margin-bottom: 23px;
                &:hover {
                    @extend %bgtransparent;
                    @extend %secondary-border-color;
                    @extend %secondary-color;
                }
            }
            .part-exchange-text{
                opacity: .7;
            }
        }
    }
    .finance-bottom-text {
        font-size: 14px;
        opacity: .7;
        line-height: 25px;
    }
}

// .testimonial-area
.testimonial-area {
    @include all-below-med{
        padding: 30px 0 150px;
    }
    .section-title {
        margin-bottom: 40px;
        @include all-below-med{
            margin-bottom: 30px;
        }
    }
    .testimonial-quote {
        width: 130px;
        height: 130px;
        @extend %borderradiusfiftypercent;
        border: 1px solid #E0EFFC;
        color: #C0C6CC;
        font-size: 50px;
        line-height: 130px;
        margin: 0 auto;
        margin-bottom: 30px;
        box-shadow: 0 0px 27px -20px #000000;
        @include all-below-med{
            width: 90px;
            height: 90px;
            font-size: 35px;
            line-height: 89px;
        }
    }
    .single-testimonial-item {
        @extend %primary-color;
        font-weight: 300;
        h4 {
            @extend %primary-color;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 12px;
            @include all-below-mobile-lg{
                line-height: 1.4;
            }
        }
        .stars {
            margin-top: 40px;
            @include all-below-mobile-lg{
                margin-top: 30px;
            }
        }
    }
    .owl-nav {
        div {
            left: -119px;
            opacity: .7;
            margin-top: -60px;
            @extend %bgtransparent;
            @extend %black-color;
            font-size: 60px;
            &:hover{
                @extend %secondary-color;
            }
            @include  mx-desktops{
                left: -90px;
            }
            @include  all-below-med{
                left: -35px;
            }
            @include  all-below-mobile-lg{
                display: none;
            }
            &.owl-next {
                left: auto;
                right: -119px;
                @include  mx-desktops{
                    right: -90px;
                    left: auto;
                }
                @include  all-below-med{
                    right: -35px;
                    left: auto;
                }
            }
        }
    }
}

// gallery-area
.gallery-area{
    padding-top: 0;
    .owl-nav div{
        left: 0;
        border-radius: 0 5px 5px 0;
        &.owl-next{
            left: auto;
            right: 0;
            border-radius: 5px 0 0 5px;
        }
    }
    .section-title{
        padding-top: 80px;
        border-top: 1px solid #D6D6D6;
        h2{
            margin-bottom: 60px;
        }
    }
    .single-gallery-content {
        overflow: hidden;
    }
    .single-gallery-item.large-gallery-item {
        width: 46%;
        height: 470px;
        padding-left: 0;
    }
    .single-gallery-item {
        float: left;
        width: 27%;
        padding-left: 10px;
        margin-bottom: 10px;
        height: 230px;
        a{
            @extend %backgroundimage;
            @extend %zindex2;
            @extend %posrelative;
            @extend %w100;
            @extend %h100;
            @extend %white-color;
            @extend %displayblock;
            &:hover{
                .gallery-hover{
                    @extend %visible;
                }
                &:after{
                    opacity: .7;
                    visibility: visible;
                    transform: scale(1);
                }
            }
            &:after{
                @extend %pseudo;
                left: 0;
                top: 0;
                @extend %w100;
                @extend %h100;
                @extend %black-bg-color;
                z-index: -1;
                @extend %invisible;
                @extend %basetransition2;
                transform: scale(0.3);
            }
        }
    }
    .gallery-hover {
        @extend %posabsolute;
        left: 0;
        right: 0;
        top: 50%;
        @extend %textcenter;
        font-size: 20px;
        margin-top: -15px;
        @extend %invisible;
        @extend %basetransition2;
    }
}